<h1>Your tasks</h1>
<% @tasks.each do |task|%>
  <h3><%= task.name %></h3>
  <% if task.done == true %>
    <p>[X]</p>
  <% else %>
    <p>[ ]</p>
  <% end %>
  <%= link_to 'See more', task_path(task.id) %>
  <%= link_to 'Delete', task_path(task.id), data: {confirm: "Sure?"}, method: "delete"%>
  <p>------------------------</p>
<% end %>

<%= link_to 'Add task', new_task_path %>
